
.custom-large-dialog {
  width: 1000px !important;
  z-index: 1000 !important; }

md-input-container.md-default-theme:not(md-input-invalid).md-input-focused.md-input, md-input-container:not(.md-input-invalid).md-input-focused
.md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized.md-input, md-input-container:not(.md-input-invalid).md-input-resized.md-input {
  border-color: #333 !important; }

md-input-container label {
  color: #333 !important; }

md-dialog-content md-input-container {
  margin: 5px 10px !important; }

.add-image-placeholder {
  width: 112px;
  height: 112px;
  cursor: pointer;
  margin: 5px 10px; }

.label-alert-field {
  font-size: 12px;
  line-height: 14px;
  color: #dd2c00; }

.admin-bg-common {
  background-color: #333 !important; }
