@import "color";

.custom-large-dialog {
  width: 1000px !important;
  z-index: 1000 !important;
}

md-input-container.md-default-theme:not(md-input-invalid).md-input-focused.md-input,md-input-container:not(.md-input-invalid).md-input-focused
.md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized.md-input,md-input-container:not(.md-input-invalid).md-input-resized.md-input {
  border-color: $admin-primary-color !important;
}

md-input-container {
  label {
  color: $admin-primary-color !important;
  }
}

md-dialog-content {
  md-input-container {
    margin: 5px 10px !important;
  }
}

.add-image-placeholder {
  width:112px;
  height:112px;
  cursor: pointer;
  margin: 5px 10px;
}

.label-alert-field {
  font-size: 12px;
  line-height: 14px;
  color: rgb(221,44,0);
}